################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Docker.Multi.Container/FileContentIndex
/.vs
